OSS_ENDPOINT=https://oss-ap-southeast-3.aliyuncs.com
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET_NAME=maxpark-opp-registration
NATS_URL=nats://103.159.132.89:4222
REGISTER_INDIVIDUAL_SUBJECT=register.individual
REGISTER_INDIVIDUAL_FINALIZE_SUBJECT=register.individual.finalize
REGISTER_EMPLOYER_SUBJECT=register.employer
REGISTER_EMPLOYER_FINALIZE_SUBJECT=register.employer.finalize
REGISTER_EMPLOYER_ID_SUBJECT=register.employer.id
SITE_CODE=0001
TURNSTILE_SECRET_KEY=
JWT_SECRET_KEY=